@{
    ViewBag.Title = "About.";
}
	<div class="row container area">
		<h2>MateriaLab</h2>
		<h4>Un sitio para la administración de laboratorios y materiales de una Universidad</h4>

		<p>Use this area to provide additional information.</p>
	</div>