@{
    ViewBag.Title = "About.";
}
	<div class="row container area">
		<h2>MateriaLab</h2>
        <h4>El mejor sistema de información para la administración del préstamo de materiales.</h4>
		
		<h5> <b>Desarrollado por:</b></h5>
        <ul>

            <li> <span style="color:cornflowerblue">De la Torre González Ángel Alberto</span></li>
            <li> <span style="color:cornflowerblue">Medrano Sarabia Omar</span></li>
            <li> <span style="color:cornflowerblue">Torres Ramírez Antonio De Jesús</span></li>
            <li> <span style="color:cornflowerblue">Salas Ornelas Mario Eduardo</span></li>
            <li> <span style="color:cornflowerblue">Sánchez Villalobos Brallan Leonardo</span></li>
        </ul>



		<p>UTL ITI - 806</p>
	</div>