
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section>
	<div class="login">
		<div class="title">
			<h2>Materia<span class="lab">Lab</span></h2>
		</div>
		<form id="frm" class="content">
			<div>
				<label for="exampleInputUsuario1" class="from-group">Usuario</label><br />
				<input type="text" name="user" class="form-group" />
			</div>
			<div>
				<label>Contraseña</label><br />
				<input type="password" name="pass" class="form-group" />
			</div>
			<div>
				<input type="submit" class="" value="Entrar" />
			</div>
		</form>
	</div>
</section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        //alert("1");
        $("#frm").submit(function (e) {


            e.preventDefault();

             url = "@Url.Content("~/Access/Enter")"
            //url =
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {


                if (data == "1") {
                    document.location.href = "@Url.Content("~/")";

                } else {
                    alert(data);
                }
            })
        })
    })

</script>
