
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<h2>Login</h2>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <form id="frm">
                        <div class="from-group row">
                            <label for="exampleInputUsuario1" class="from-group">Usuario</label>
                            <input type="text" name="user" class="form-group" />
                        </div>
                        <div class="from-group">
                            <label>Contraseña</label>
                            <input type="text" name="pass" class="form-group" />
                        </div>
                        <div class="from-group">
                            <input type="submit" class="btn btn-success" value="Entrar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        
        $("#frm").submit(function (e) {


            e.preventDefault();

             url = "@Url.Content("~/Access/Enter")"
            //url =
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {


                if (data == "1") {

                    alert("Bienvenido Administrador");
                    document.location.href = "@Url.Content("~/")";

                }

                else if(data == "2")
                {
                    alert("Bienvenido Laboratorista");
                     document.location.href = "@Url.Content("~/HomeLaboratorista/Index")";
                }

                else if(data == "3")
                {
                     alert("Bienvenido Alumno");
                     document.location.href = "@Url.Content("~/HomeAlumno/Index")";
                }
                   
                else {
                    alert(data);
                }
            })
        })
    })

</script>
